# Базовые пакеты для Data Science и ML
# Укажите точные версии пакетов, которые вы используете в своем решении

# Обработка данных
pandas==2.3.3
numpy==2.3.5

# Машинное обучение (выберите нужные)
scikit-learn==1.7.2
# xgboost==2.0.2
lightgbm==4.6.0
# catboost==1.2.2

# Глубокое обучение (раскомментируйте при необходимости)
# torch==2.1.1
# tensorflow==2.15.0

# Визуализация (если нужна)
# matplotlib==3.8.2
# seaborn==0.13.0

# Другие полезные библиотеки
# scipy==1.11.4
joblib==1.5.2


# pandas: 2.3.3
# numpy: 2.3.5
# scikit-learn: 1.7.2
# # lightgbm: 4.6.0
# re: стандартный модуль Python, версии нет
# collections: стандартный модуль Python, версии нет
# warnings: стандартный модуль Python, версии нет
# gc: стандартный модуль Python, версии нет
tqdm==4.67.1
# joblib: 1.5.2
# time: стандартный модуль Python, версии нет

rank-bm25==0.2.2
python-Levenshtein==0.27.3
sentence-transformers==5.1.2
catboost==1.2.8
xgboost==3.1.2
gensim==4.4.0
scipy==1.16.3